body{
    margin: 0;
    padding-top: 20px;
    background-color: khaki;

}

.heading{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    background-color: rgba(0,0,0,0.5);
    border-radius: 45px;
    border: 3px solid white;
    width: 300px;
    height: 15px;
    color: aliceblue;
    padding: 30px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
}

.gameWindow{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 0;
}

.frame{
    width: 420px;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: inherit;
}

.box{
    height: 120px;
    width: 120px;
    margin: 10px;
    background-color: rgb(251, 244, 230);
    border-radius: 15px;
    box-shadow: 2px 2px 5px black;
    border: none;
    z-index: inherit;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
}

.btnHolder{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.btn{
    margin: 10px;
    width: 150px;
    height: 52.5px;
    border: 3px solid white;
    background-color: rgba(0,0,0,0.5);
    border-radius: 52.5px;
    color: aliceblue;
    font-family:Arial, Helvetica, sans-serif;
    font-size:larger;
    display: flex;
    justify-content: center;
    align-items: center;
}

.win{
    height: 100px;
    background-color: rgba(0,0,0,0.5);
    color: aliceblue;
    font-family:Arial, Helvetica, sans-serif;
    font-size:larger;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -365px;
    z-index: 2;
    border-top: 3px solid rgb(42, 85, 71) ;
    border-bottom: 3px solid rgb(42, 85, 71);
    color: rgb(42, 85, 71);
    visibility: hidden;
}

.stale{
    height: 100px;
    background-color: rgba(0,0,0,0.5);
    color: aliceblue;
    font-family:Arial, Helvetica, sans-serif;
    font-size:larger;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -470px;
    z-index: 2;
    border-top: 3px solid rgb(42, 85, 71) ;
    border-bottom: 3px solid rgb(42, 85, 71);
    color: rgb(42, 85, 71);
    visibility: hidden;
}

.hide{
    visibility: hidden;
}

.vis{
    visibility: visible;
}

.turnX{
    border: 3px solid rgb(138, 23, 23);
}

.turnO{
    border: 3px solid rgb(41, 127, 118);
}

.permaTurnX{
    border: 3px solid rgb(138, 23, 23);
}

.permaTurnO{
    border: 3px solid rgb(41, 127, 118)
}

.invisborder{
    border: none;
}

.winBorder{
    border: 3px solid rgb(255, 191, 0);
}
